<!DOCTYPE html>
<html>
<head>
    <title>Stream Overlay</title>
    <LINK href="overlay-stylesheet.css" rel="stylesheet" type="text/css">
</head>
<body style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;" onLoad="clearScreen();">
    <div id="app" class="full-height"></div>
    <script src="https://extension-files.twitch.tv/helper/v1/twitch-ext.min.js"></script>
    <!-- If you use any external libraries, such as jQuery, you must include
      them as part of your extension.  Twitch does not allow extensions to link
      to external libraries. -->
    <script src="../jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="../angular.min.js" type="text/javascript"></script>
    <script src="overlay-controller.js" type="text/javascript"></script>
    
    <div ng-app="app" ng-controller="ctrl">
    <!--   Positions four through six are used for the drafting screen. Postiions one through three are used for the Swap screen. If I remembered how to do web coding, this would work more optimally. -->
      
    <!--   Each vote button is made up of two divs. The first is "positionXText" which holds the current vote count. "positionX" is a div for the vote button. -->
      <!-- <div>A Whole Bunch Of Shit  PPPOOOOOOOPPPPPPPP   PPPPPPPOOOOOOOOOOOOPPPPPPP PPPPPPPPOOO@!()$#*)(!*@$&@!*_()$&@!(*_$&            
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>PPP   PPPPPPPOOOOOOOOOOOOPPPPPPP PPPPPPPPOOO@!()$#*)(!*@$&@!*_()$&@!(*_$&            
        <br/>PPP   PPPPPPPOOOOOOOOOOOOPPPPPPP PPPPPPPPOOO@!()$#*)(!*@$&@!*_()$&@!(*_$&            
        <br/>
        <br/>v
        <br/>
        <br/>PPP   PPPPPPPOOOOOOOOOOOOPPPPPPP PPPPPPPPOOO@!()$#*)(!*@$&@!*_()$&@!(*_$&            
        <br/>
        <br/>
<var>PPP   PPPPPPPOOOOOOOOOOOOPPPPPPP PPPPPPPPOOO@!()$#*)(!*@$&@!*_()$&@!(*_$&            
    <br/>
    <br/>
      </div> -->
    <!--   Drafting-screen divs -->
    <div class="positionOneText" id="posOneText">{{count1}}</div>
    <div class="positionTwoText"id="posTwoText">{{count2}}</div>
    <div class="positionThreeText"id="posThreeText">{{count3}}</div>
    <div class="positionFourText" id="posFourText">{{count1}}</div>
    <div class="positionFiveText"id="posFiveText">{{count2}}</div>
    <div class="positionSixText"id="posSixText">{{count3}}</div>
    <div class="positionSevenText"id="posSevenText">{{count4}}</div>
    <div class="positionFour" id="posFour" style="background-image:url(assets/TPEVoteDraftInactive.png);" ng-mouseover="hoverImage('posFour')" ng-mouseleave="leftImage('posFour')" ng-click="clickImage('posFour')"></div>
    <div class="positionFive" id="posFive" style="background-image:url(assets/TPEVoteDraftInactive.png);" ng-mouseover="hoverImage('posFive')" ng-mouseleave="leftImage('posFive')" ng-click="clickImage('posFive')"></div>
    <div class="positionSix" id="posSix" style="background-image:url(assets/TPEVoteDraftInactive.png);" ng-mouseover="hoverImage('posSix')" ng-mouseleave="leftImage('posSix')" ng-click="clickImage('posSix')"></div>
      <div class="castYourVoteNowDraftStage" id="castVoteDraft"></div>
      
      
    <!--   Swap Screen Divs -->
      <div class="castYourVoteNow" id="castVoteSwap"></div>
      <div class="positionOne" id="posOne" style="background-image:url(assets/TPEVoteSwapInactive.png);" ng-mouseover="hoverImage('posOne')" ng-mouseleave="leftImage('posOne')" ng-click="clickImage('posOne')"></div>
      <div class="positionTwo" id="posTwo" style="background-image:url(assets/TPEVoteSwapInactive.png);" ng-mouseover="hoverImage('posTwo')" ng-mouseleave="leftImage('posTwo')"ng-click="clickImage('posTwo')"></div>
      <div class="positionThree" id="posThree" style="background-image:url(assets/TPEVoteSwapInactive.png);" ng-mouseover="hoverImage('posThree')" ng-mouseleave="leftImage('posThree')"ng-click="clickImage('posThree')"></div>
      <div class="positionSeven" id="posSeven" style="background-image:url(assets/TPEVoteSwapInactive.png);" ng-mouseover="hoverImage('posSeven')" ng-mouseleave="leftImage('posSeven')"ng-click="clickImage('posSeven')"></div>
    </div>



    <!--
    <div id="vote-div-pick" style="background-color: #ffffff; display: none;">
        PICKING
        <div>
            <input type="button" id="option1" value="Option 1" />
            <label id = "option1-count">0</label>
        </div>
        <div>
            <input type="button" id="option2" value="Option 2" />
            <label id = "option2-count">0</label>
        </div>
        <div>
            <input type="button" id="option3" value="Option 3" />
            <label id = "option3-count">0</label>
        </div>
    </div>
    
    <div id="vote-div-swap" style="background-color: #ffffff; display: none;">
        SWAPPING

        <div>
            <input type="button" id="option1" value="Option 1" />
            <label id = "option1-count">0</label>
        </div>
        <div>
            <input type="button" id="option2" value="Option 2" />
            <label id = "option2-count">0</label>
        </div>
        <div>
            <input type="button" id="option3" value="Option 3" />
            <label id = "option3-count">0</label>
        </div>
        <div>
            <input type="button" id="option4" value="Option 4" />
            <label id = "option4-count">0</label>
        </div>
    </div>
    <div style="background-color: #ffffff; display: block;">
        <label id = "debug">test</label>
    </div>-->
</body>
</html>