html, body, [ng-app] {
    position:relative;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
}

/* This should always scale to 1920 x 1080 view screen */
div.gameScreen {
  /*background-image: url('https://i.imgur.com/rYhnUQO.png');
  background-image: url('https://i.imgur.com/QMdaXFG.jpg');*/
  background-size: contain;
  width: 100vw; 
  height: 56.25vw; /* 100/56.25 = 1.778 */
  max-height: 100vh;
  max-width: 177.78vh; /* 16/9 = 1.778 */
  margin: auto;
  position: relative;
  top:0;bottom:0; /* vertical center */
  left:0;right:0; /* horizontal center */
}

/**************/
/* Swap votes */
/**************/
div.castYourSwapVote{
  background-image:url(assets/TPEVoteSwapCastYourVote.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 6.5%;
  left: 26%;
  width: 15.6%;
  height: 11%;
}
div.optionSwapText { /* We only need one class for text */
  position: absolute;
  font-size: 6vh;
  color: #da9e55;
  text-align: center;
  width: 100%;
  top: 5%;
}
div.option1Swap {
  /*background-image: url(assets/TPEVoteSwapInactive.png);*/
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 22%;
  left: 24%;
  width: 12%;
  height: 13%;
}
div.option2Swap {
  /*background-image: url('https://i.imgur.com/uDhHFY6.png');*/
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 37%;
  left: 24%;
  width: 12%;
  height: 13%;
}
div.option3Swap {
  /*background-image: url('https://i.imgur.com/uDhHFY6.png');*/
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 52%;
  left: 24%;
  width: 12%;
  height: 13%;
}
div.option4Swap {
  /*background-image: url('https://i.imgur.com/uDhHFY6.png');*/
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 67%;
  left: 24%;
  width: 12%;
  height: 13%;
}


/**************/
/* Pick votes */
/**************/
div.castYourPickVote{
  background-image:url(assets/TPEVoteSwapCastYourVote.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 2.5%;
  left: 40%;
  width: 15.6%;
  height: 11%;
}
div.optionPickText { /* We only need one class for text*/
  position: absolute;
  font-size: 4.5vh;
  color: #da9e55;
  text-align: right;
  width: 100%;
  top: 5.5%;
  right: 8.5%;
}
div.option1Pick {
  /*background-image: url('https://i.imgur.com/0QzcWSZ.png');*/
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 17%;
  left: 31.5%;
  width: 14%;
  height: 6%;
}
div.option2Pick {
  /*background-image: url('https://i.imgur.com/0QzcWSZ.png');*/
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 17%;
  left: 54.6%;
  width: 14%;
  height: 6%;
}
div.option3Pick {
  /*background-image: url('https://i.imgur.com/0QzcWSZ.png');*/
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 17%;
  left: 77.7%;
  width: 14%;
  height: 6%;
}